extends ../page.pug
block content
  +pageHeader('Relay groups')
    a.btn.btn-accent(href='/config/relaygrp/create')
      +icon('plus')
      span Add group
  table.data-table
    thead
      tr
        th.num ID
        th Name
        th Description
        th.col-actions Actions
    tbody
      if !data || !data.length
        tr.empty-row: td(colspan='4') No relay groups yet.
      each row in data
        tr
          td.num= row.id
          td
            a(href=`/config/relaygrp/${row.id}`)= row.name
          td= row.description
          td.col-actions
            a.act.act-edit(href=`/config/relaygrp/edit/${row.id}` title='Edit')
              +icon('edit')
            a.act.act-del(href=`/config/relaygrp/delete/${row.id}` title='Delete')
              +icon('trash')
