extends ../page.pug
block content
  +pageHeader('Delete relay', data.host)
  .card.form-card
    .card-body
      p Delete this relay? This cannot be undone.
      form#frm(method='POST')
        input(type='hidden' name='group_id' value=`${group_id}` required='')
        .form-field
          label(for='host') Host
          input#host.form-control(type='text' name='host' value=`${data.host}` disabled='')
        .form-field
          label(for='port') Port
          input#port.form-control(type='number' name='port' value=`${data.port}` disabled='')
        .form-field
          label(for='priority') Priority
          input#priority.form-control(type='number' name='priority' value=`${data.priority}` disabled='')
        .form-field
          label(for='auth_user') User
          input#auth_user.form-control(type='text' name='auth_user' value=`${data.auth_user}` disabled='')
        .form-actions
          button#btn_submit.btn.btn-danger(type='submit')
            +icon('trash')
            span Delete
          a.btn.btn-ghost(href=`/config/relaygrp/${group_id}`) Cancel
