extends ../page.pug
block content
  +pageHeader(`${action} relay group`)
  if error
    .alert.alert-danger= error
  .card.form-card
    .card-body
      form#frm(method='POST')
        .form-field
          label(for='name') Name
          input#name.form-control(type='text' name='name' value=`${data.name}` required='')
        .form-field
          label(for='description') Description
          input#description.form-control(type='text' name='description' value=`${data.description}` required='')
        .form-actions
          button#btn_submit.btn.btn-accent(type='submit')= action
          a.btn.btn-ghost(href='/config/relaygrp') Cancel
