extends ../page.pug
block content
  +pageHeader('Relay group', data.name)
    a.btn.btn-accent(href=`/config/relay/create/${data.id}`)
      +icon('plus')
      span Add relay
  table.data-table
    thead
      tr
        th.num ID
        th Host
        th.num Port
        th.num Priority
        th User
        th.col-actions Actions
    tbody
      if !relays || !relays.length
        tr.empty-row: td(colspan='6') No relays in this group yet.
      each row in relays
        tr
          td.num= row.id
          td.mono= row.host
          td.num= row.port
          td.num= row.priority
          td.mono= row.auth_user
          td.col-actions
            a.act.act-edit(href=`/config/relay/edit/${row.id}` title='Edit')
              +icon('edit')
            a.act.act-del(href=`/config/relay/delete/${row.id}` title='Delete')
              +icon('trash')
