extends ../page.pug
block content
  +pageHeader('Users')
    a.btn.btn-accent(href='/users/create')
      +icon('plus')
      span Add user
  table.data-table
    thead
      tr
        th.num ID
        th Email
        th Created
        th.col-actions Actions
    tbody
      if !data || !data.length
        tr.empty-row: td(colspan='4') No users yet.
      each row in data
        tr
          td.num= row.id
          td= row.email
          td.mono= row.createdAt
          td.col-actions
            a.act.act-edit(href=`/users/edit/${row.id}` title='Edit')
              +icon('edit')
            a.act.act-del(href=`/users/delete/${row.id}` title='Delete')
              +icon('trash')
